@import 'fonts';
@import 'reset';
@import 'libs';
@import 'vars';
@import 'global';
@import 'commons';


.header {
	padding: 58px 0;
	position: fixed;
	right: 0;
	left: 0;
	z-index: 100;
	background-color: rgba(249, 250, 255, 0.8);

	&__container {
		display: flex;
	}

	&__logo {
		margin-right: 20px;
	}

	&__menu {
		display: flex;
		align-items: center;
		justify-content: space-between;
		flex-grow: 1;
		font-size: 18px;
		line-height: 1.3;
		letter-spacing: 0.01em;
	}

	&__list {
		display: flex;
		margin-right: 50px;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 40px;
		}
	}

	&__link {
		border-radius: 5px;
		transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

		&--active {
			color: $orangeColor;
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
		}

		&:hover {
			color: $orangeColor;
		}
	}

	&__user-list {
		display: flex;
	}

	&__user-item {
		&:not(:last-child) {
			margin-right: 10px;
		}
	}

	&__user-btn {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 5px;
		transition: background-color 0.3s;

		&:hover {
			background-color: $orangeColor;

			.header__user-icon {
				fill: #FFFFFF;
			}

			.header__user-icon-cart {
				stroke: #FFFFFF;
				fill: transparent;
			}

			.header__user-num {
				background-color: #fff;
				color: $orangeColor;
			}
		}

		&:focus {
			background-color: rgba(255, 104, 56, 0.1);
			box-shadow: 0px 0px 0px 2px $orangelight;

			&:active {
				background-color: #FFF2ED;
			}

			.header__user-icon {
				fill: #000000;
			}

			.header__user-icon-cart {
				stroke: #000000;
				fill: transparent;
			}

			.header__user-num {
				background-color: $orangeColor;
				color: #FFFFFF;
			}
		}
	}

	&__user-icon-cart {
		fill: #FFFFFF;
		stroke: #000000;
	}

	&__user-num {
		position: absolute;
		text-align: center;
		font-size: 10px;
		line-height: 1.4;
		background-color: $orangeColor;
		color: #FFFFFF;
		height: 14px;
		width: 14px;
		border-radius: 50%;
		right: 3px;
		top: 8px;
		transition: background-color 0.3s, color 0.3s;
	}
}

.hero {

	&__container {
		display: flex;
		justify-content: space-between;
		background-repeat: no-repeat;
		background-position: 97%;
		background-size: contain;
		height: 71vh;
	}

	&__content {
		justify-content: center;
		display: flex;
		flex-direction: column;
		max-width: 500px;
	}

	&__title {
		font-weight: 500;
		font-size: 66px;
		text-transform: uppercase;
		margin-bottom: 15px;
		line-height: 1.1;
		color: $blueColor;
	}

	&__downtitle {
		color: $orangeColor;
		display: block;
		line-height: 1.5;
	}

	&__text {
		max-width: 450px;
		margin-bottom: 20px;
	}

	&__list {
		display: flex;
	}

	&__item {
		&:not(:last-child) {
			margin-right: 25px;
		}
	}

	&__link {
		text-decoration: underline;
		border-radius: 5px;
		transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s, text-decoration-color 0.3s;

		&:hover {
			color: $orangeColor;
			text-decoration-color: transparent;
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
			text-decoration-color: transparent;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
			box-shadow: 0px 0px 0px 2px transparent;
			color: $blueColor;
		}
	}
}

.popular {
	text-align: center;

	&__title {
		margin-bottom: 60px;
	}

	&__filter {
		display: flex;
		justify-content: center;
		margin-bottom: 45px;
	}

	&__btn {
		display: flex;
		align-items: center;
		border-radius: 5px;
		padding: 14px 32px;
		background-color: #FFFFFF;
		box-shadow: 0 0 0 1px #ECECEC;
		font-size: 20px;
		color: $blueColor;
		transition: background-color 0.4s, color 0.4s;

		&:hover {
			background-color: rgba(255, 104, 56, 0.1);
			color: $orangeColor;
			box-shadow: 0px 0px 0px 2px $orangelight;

			.popular__icon {
				fill: $orangeColor;
			}
		}

		&:focus {
			background-color: #ffffff;
			color: $blueColor;
		}

		&:active {
			box-shadow: inset 0px -5px 12px rgba(255, 104, 56, 0.2);

			.popular__icon {
				fill: #000000;
			}
		}

		&.mixitup-control-active {
			background-color: $orangeColor;
			color: #FFFFFF;

			.popular__icon {
				fill: #FFFFFF;
			}
		}
	}

	&__icon {
		margin-right: 10px;
		fill: #000000;
	}

	&__filter-item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	&__list {
		margin-bottom: 60px;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		gap: 30px;
	}

	&__link {
		text-decoration: underline;
		color: $blueColor;
		border-radius: 5px;
		transition: color 0.3s, box-shadow 0.3s, text-shadow 0.3s, text-decoration-color 0.3s;

		&:hover {
			color: $orangeColor;
			text-decoration-color: transparent;
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
			text-decoration-color: transparent;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(54, 56, 83, 0.5);
			box-shadow: 0px 0px 0px 2px transparent;
			color: $blueColor;
		}
	}
}

.footer {

	&__container {
		padding-bottom: 60px;
		display: flex;
		justify-content: space-between;
	}

	&__row {
		max-width: 200px;
		width: 100%;
		margin-right: 30px;
	}

	&__logo {
		margin-bottom: 30px;
	}

	&__label {
		margin-bottom: 12px;
		display: block;
	}

	&__input {
		padding: 11px 14px;
		font-size: 14px;
		border: 1px solid #C2C2C2;
		border-radius: 5px;

		&:focus {
			border: 1px solid $orangeColor;
		}

		&::placeholder {
			color: $grayColor;
			line-height: 1.3;
			transition: color 0.3s;
		}

		&:hover::placeholder {
			color: $blueColor;
		}
	}

	&__btn {
		padding: 13px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		font-size: 14px;

		&:focus {

			.footer__form-icon {
				fill: $orangeColor;
			}

		}

		&:hover {
			.footer__form-icon {
				fill: $orangeColor;
			}
		}
	}

	&__form-icon {
		margin-right: 20px;
		fill: #ffffff;
	}

	&__nav {
		max-width: 500px;
		width: 100%;
		margin-right: 30px;
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(4, 1fr);
		grid-auto-flow: column;
		column-gap: 25px;
	}

	&__item {
		&:not(:last-child) {
			margin-bottom: 20px;
		}
	}

	&__link {
		line-height: 1.3;
		font-size: 18px;
		letter-spacing: 0.01em;
		border-radius: 5px;
		transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;
		display: block;
		width: fit-content;

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:hover {
			color: $orangeColor;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
		}
	}

	&__contacts {
		max-width: 262px;
		width: 100%;
	}

	&__contacts-list {
		margin-bottom: 15px;
	}

	&__contacts-item {
		margin-bottom: 15px;
	}

	&__contacts-link {
		display: flex;
		align-items: center;
		font-size: 16px;
		line-height: 2;
		border-radius: 5px;
		transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
		}

		&:hover {
			color: $orangeColor;

			.footer__contacts-icon {
				stroke: $orangeColor;
				fill: $orangeColor;
			}
		}
	}

	&__contacts-icon {
		margin-right: 7px;
	}

	&__social-list {
		display: flex;
	}

	&__social-item {
		&:not(:last-child) {
			margin-right: 13px;
		}
	}

	&__social-link {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		background-color: $silver-200;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s, box-shadow 0.3s;

		&:focus {
			background-color: #FFF2ED;
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:hover {
			background-color: $orangeColor;

			.footer__social-icon {
				fill: #FFFFFF;
			}
		}

		&:active {
			background-color: #FFF2ED;
			box-shadow: 0px 0px 0px 2px transparent;

			.footer__social-icon {
				fill: $orangeColor;
			}
		}
	}

	&__copy {
		background-color: $blueColor;
		text-align: center;
		padding: 30px;
		color: #FFFFFF;
		font-size: 14px;
		line-height: 1;
	}
}