.contacts {
	max-width: 262px;
	width: 100%;

	@include mqmax('desktop') {
		margin-bottom: 30px;
		order: -1;
	}

	&__list {
		margin-bottom: 15px;

		@include mqmax('tablet-2') {
			margin-bottom: 7px;
		}
	}

	&__item {
		margin-bottom: 15px;
		width: fit-content;

		@include mqmax('tablet-2') {
			margin-bottom: 0;
			width: 100%;
		}
	}

	&__link {
		display: flex;
		align-items: flex-start;
		font-size: 16px;
		line-height: 2;
		border-radius: 5px;
		transition: box-shadow 0.3s, text-shadow 0.3s, color 0.3s;

		@include mqmax('tablet-2') {
			padding: 7px 0;
		}

		&:focus {
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:hover {
			color: $orangeColor;

			.contacts__icon {
				fill: $orangeColor;
			}
		}

		&:active {
			text-shadow: 2px 2px 5px rgba(49, 53, 43, 0.5);
			color: $darkColor;

			.contacts__icon {
				fill: #000000;
			}

			@include mqmax('tablet-2') {
				text-shadow: none;
				background-color: $orangelight;
			}
		}
	}

	&__icon {
		margin-right: 7px;
		flex-shrink: 0;
		margin-top: 4px;
	}

	&__social-list {
		display: flex;
		flex-wrap: wrap;
		row-gap: 13px;
	}

	&__social-item {
		&:not(:last-child) {
			margin-right: 13px;
		}
	}

	&__social-link {
		width: 39px;
		height: 39px;
		border-radius: 50%;
		background-color: $silver-200;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: background-color 0.3s, box-shadow 0.3s;

		@include mqmax('tablet-2') {
			&::after {
				content: '';
				width: 53px;
				height: 46px;
				position: absolute;
			}
		}

		&:focus {
			background-color: #FFF2ED;
			box-shadow: 0px 0px 0px 2px $orangelight;
		}

		&:hover {
			background-color: $orangeColor;

			.contacts__social-icon {
				fill: #FFFFFF;
			}
		}

		&:active {
			background-color: #FFF2ED;
			box-shadow: 0px 0px 0px 2px transparent;

			.contacts__social-icon {
				fill: $orangeColor;
			}
		}
	}
}